include ../data/config
include ../components/**/*

block variables

doctype html
html(lang="ru")
  head
    include ../partials/head
  body(class=bodyClass)
    block header
      include ../partials/header

    block content

    block footer
      include  ../partials/footer

    block scripts
      script(src="js/main.js")
